<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">
    Có chắc chắn xóa không?
</p>

<form method="post">
    <button type="submit" class="btn btn-danger">
        Xóa DB
    </button>

    <a asp-action="Index">Quản lý DB</a>
</form>